
<div class="list-chatroom flex-column mt-3">
  <ul class="p-0">
    <% @chatrooms.each do |chatroom| %>
      <div class="chat-button">
        <li>
          <div class="chat-group">
            <div id="name-group">
              <%= link_to chatroom.title, chatroom_path(chatroom) %>&ensp;
            </div>
            <div class="button-delete-group">
              <%= link_to chatroom_path(chatroom), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                <i class="fa-solid fa-trash-can fa-lg" style="color: #F40C0C;"></i>
              <% end %>
            </div>
          </div>
        </li>
      </div>
    <% end %>
  </ul>
  <div class="button-create-chat mt-3">
    <%= link_to new_chatroom_path  do %>
   <i class="fa-solid fa-circle-plus fa-2xl" style="color: #F40C0C;"></i>
    <% end %>
  </div>
</div>
