<h1>Chatrooms List</h1>
  <%= link_to  "[+] Create new Chat", new_chatroom_path %>&ensp;
<ol>
  <% @chatrooms.each do |chatroom| %>
    <li>
      <%= link_to chatroom.title, chatroom_path(chatroom) %>
      &ensp;
      <%= link_to "Delete",
        chatroom_path(chatroom),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </li>
  <% end %>
</ol>
