<div class="welcome-page" data-controller="welcome" data-action="click->welcome#toggle">

    <p>Welcome To</p>

  <div>
    <%= image_tag "actuality_logo.png" %>
  </div>
  <div id="tap-to">
    <p>Tap to Enter</p>
  </div>
</div>
