.btn {
  color: white;
  width: 45px;
  min-height: 20px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group {
  color: white;
  border: 2px solid white;
  background: transparent;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
