.wrapper-category-chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-chatroom {
  display: flex;
  justify-items: center;
  text-align: center;
  margin :3px;
  background-color: #174F44;
  border-radius: 10px;
  width: 52px;
  height: 52px;
}


.link-category-chat {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}

.image-chat {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  // object-fit: contain;
}

