.card-chatroom {

  display: flex;
  justify-items: center;
  text-align: center;
  img {
    padding: 10px;
    margin: 5px;
    width: 60px;
    height: 60px;
  }
}

// .img-chat {
//   background-color: red;
  // margin: 10px;
// }
