.container {
  width: 100%;
  align-content: center;

  color: white;

  .col {
    display: flex;
    justify-content: center;
  }


  .groupe-title {
    display: flex;
    margin-top: 12px;
    font-size: 0px;
    align-content: center;
    justify-content: center;
    margin-left: -15px !important;
  }
}

.chat-group {
  width: 280px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;

  a {
    width: 100%;
  }
}

.chat-button {
  display: flex;
  justify-content: space-between;

}

.list-chatroom {
  position: relative;
  display: flex;
  align-items: center;



  ul {
    margin-bottom: 5rem;
    list-style: none;
  }

  a {
    padding-left: 20px;
    font-size: 27px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }

  .fa-trash-can {
    padding-right: 20;
    padding-right: 20px;
  }

}


.button-create-chat {
  position: fixed;
  bottom: 59px;
  width: 100%;
  background: black;
  padding: 20px;
  text-align: center;
}
