.chatroom {
  margin-top: 9px;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }


  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

#button-send-chat {

  margin-left: 10px;
}

.chat-title-exit {
  display: flex;
  justify-content: space-between;

  .exit-chat {
    margin-top: 20px;
  }

}

#message_content {
  border-radius: 10px;
  border-style: dotted;
  background-color: $white;
  line-height: 1.9;
}

.comment-message {
  border-top-right-radius: 0px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 20px;
  text-align: center;
  width: 250px;
  padding-left: 0px;
  background-color: rgba(55, 59, 59, 0.804);
}
