.container {
  width: 100%;
  align-content: center;
  background-color: black;
  color: white;

  .col {
    display: flex;
    justify-content: center;
  }
}

.chat-group {
  width: 200px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  margin: 10px;
  padding: 10px;
  border-radius: 30px;
}

.chat-button {
  display: flex;
  justify-content: space-between;

}

.list-chatroom {
  display: flex;
  align-items: center;

  ul {
    list-style: none;
  }

  a {
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
  }
}
