.message-row {
  padding-top: 5px;
  padding-bottom: 5px;
}



.sender-style,
.receiver-style {
  min-width: 100px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.receiver-style {
  width: 280px;
  border-radius: 20px 20px 20px 0;
  background: linear-gradient(155deg, #4c4141, transparent);
  min-height: 20px;
  color: rgb(234, 229, 229);
}

.avatar_sender {
  >img {
    width: 30px;
    border-radius: 20px;
  }
}

.sender-style {
  margin-right: 10px;
  border-radius: 20px 20px 20px 20px;
  width: 280px;
  min-height: 20px;
  padding-top: 0;
  background: linear-gradient(71deg, black, transparent);
  color: rgb(234, 229, 229);
}

.img-article-chat {
  >img {
    width: 100%;
    border-radius: 20px 0 0 0;
  }
}

.comment-this-message {
  top: -6px;
  position: relative;
  margin-left: 234px;

}

.chat-title-article {
  padding: 5px;
  color: rgb(223, 213, 213);
}

#messages-sender {
  width: 250px;
}




.message-p-chat {
  word-wrap: break-word;
  text-align: start;
  padding-left: 5px;
  padding-right: 47px;

}

.preview-message {

  height: 9%;
  border-radius: 25px 15px 15px 0;
  position: absolute;
  margin-left: 20px;
  width: 86%;
  bottom: 132px;
  z-index: 10;
  background-color: rgb(90, 98, 98);

  p {
    padding-top: 10px;
    color: rgb(215, 210, 210);
    margin: 0 0 0 10px;
  }

  i {
    margin-left: 303px;
    margin-top: -53px;
  }
}
