.search-bar {
  position: fixed;
  top: 20px;
  z-index: 500;
  width: 100%;
  left: 11px;
  // background-color: black;
  transition: all ease 0.4s;
  // background: rgba(0, 0, 0, 0.5);
  // background: #1F2072;
  background-color: transparent;
  backdrop-filter: blur(20px);
}

.searchbardisapear {
  margin-top: 40px;
  padding-top: 35px;
}

.bg-color-searchbar {
  background-color: transparent !important;
  color: white !important;
  border: none;
}

.bg-color-searchbar::placeholder {
  color: white;
}
