// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";



//
body {
  background-color: $black;
  color: $white;


  // background-image: linear-gradient(45deg, #1e1e1e, #4816D6);
  // background-image: linear-gradient(to right, #1e1e1e, #4816D6);
  // background-image: linear-gradient(to center, #1e1e1e, #4816D6);
  width: 100%;

  align-content: center;


}
  h1 {
    text-align: right;
    position: sticky;
  }
#background {
  background-image: url("background_bg.png");
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(50px);
  }
}
.wrapper{
  padding-top: 20px;
  min-height: 90vh;
  overflow: auto;

}

.form-inputs {
  background-color: $black;
  color: $white;
}

.form-control {
  background-color: $black;
  color: $white;
}

.ts-wrapper {
 padding: 0px;
}
/* .form-select {
  padding: 0;
} */

input[name="chatroom[title]"] {
  background: white;
  border-radius: 5px;
}

.container-with-margin-bottom {
  margin-bottom: 130px;
}
